<div class="page-content">
	<div class="contact-header">
		<div class="item-photo" style="margin-right: 10px">
			<img src="/static/img/church.png">
		</div>
		<div class="header-text">
			<h3>{{model.name}}</h3>
			<p><i class="icon ion-map"></i> Địa chỉ : {{model.address}}</p>
			{{#if model.website}}
			<p><i class="icon ion-home"></i> Website : {{ model.website }}</p>
			{{/if}}
		</div>
	</div>
	<div class="data-table">
		<table>
			<thead>
				<tr>
					<th class="label-cell" width="70px">Thứ</th>
					<th class="numeric-cell">Giờ thánh lễ</th>
				</tr>
			</thead>
			<tbody>
				{{#each model.masses}}
				<tr>
					<td class="label-cell">{{lookup ../labels @key}}</td>
					<td class="numeric-cell">
						{{#each this}}
							<div class="chip">
								<div class="chip-label">{{time}}</div>
							</div>
						{{/each}}
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="content-block">
		<div class="content-block-inner">
			<h3>Bản đồ dẫn , click vào để xem</h3>
			<a class="external" href="https://www.google.com/maps/preview/@{{model.location.lat}},{{model.location.long}},16z" target="_blank">
				<img style="max-width:100%; height:auto;" src="https://maps.googleapis.com/maps/api/staticmap?center={{model.location.lat}},{{model.location.long}}&zoom=17&size=500x500&sensor=false">
			</a>
		</div>
	</div>
</div>